/* Title, header font */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(fonts/Obitron_400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: local('Orbitron-Medium'), url(fonts/Obitron_500.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local('Orbitron-Bold'), url(fonts/Obitron_700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: local('Orbitron-Black'), url(fonts/Obitron_900.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* Text font */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(fonts/Dosis_200.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(fonts/Dosis_300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(fonts/Dosis_400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(fonts/Dosis_500.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(fonts/Dosis_600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(fonts/Dosis_700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: local('Dosis ExtraBold'), local('Dosis-ExtraBold'), url(fonts/Dosis_800.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Default layout */
stencil {
    display: none;
}
body {
	font-family: Dosis, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.07em;
    color: #D4D4D4;
    -webkit-font-smoothing: antialiased;
    background-color: #252525;
}
h1 {
	font-family: 'Orbitron', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 0.06em;
	margin: 0px 20px;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.2em;
    margin: 0px 20px;
    margin-top: 10px;
}
h3 {
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin: 0px 20px;
    margin-left: 0px;
    padding: 5px;
}
select {
    background-color: #252525;
    border: none;
    font-family: Dosis, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.07em;
    color: #D4D4D4;
    padding-left: 3px;
    max-width: 100px;
}
select:hover {
    border-left: #FFEA52 3px solid;
    padding-left: 0px;
}
select:focus {
    border-left: #FFEA52 3px solid;
    padding-left: 0px;
    outline: none; 
}
input {
    background-color: #252525;
    border: none;
    font-family: Dosis, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.07em;
    color: #D4D4D4;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
    height: 18px !important;
    max-width: 100px;
}
input:hover {
    border-left: #FFEA52 3px solid;
    padding-left: 4px;
}
input:focus {
    outline: none; 
    border-left: #FFEA52 3px solid;
    padding-left: 4px;
}
/* Buttons */
button {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFEA52;
    background-color: transparent;
    text-shadow: 0px 0px 5px #FFEA52;
    border: 0px;
}
/* Classes */
/* Glow colours */
.orangeGlowFont {
	color: #FFEA52;
    text-shadow: 0px 0px 5px #FFEA52;
}
.orangeBacklitFont {
	color: #252525;
    text-shadow: 0px 0px 5px #FFEA52;
}
.orangeGlowLine {
    box-shadow: 0px 0px 3px #FFEA52;
    height: 1px;
    width: 100%;
    background-color: #FFEA52;
}
.whiteGlowFont {
	color: #FFFFFF;
    text-shadow: 0px 0px 5px #FFFFFF;
}
.whiteBacklitFont {
	color: #252525;
    text-shadow: 0px 0px 5px #FFFFFF;
}
.whiteGlowLine {
    box-shadow: 0px 0px 3px #FFFFFF;
    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
}
.blueGlowRightLine {
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #036A98, transparent);
}
.greyThinLine {
    height: 1px;
    width: 100%;
    background-color: #444444;
}

/* Icons */
.svg {
    transition: fill 0.3s;
}
.svg:hover {
    fill: #FFEA52;
    filter: drop-shadow(0px 0px 1px #FFEA52 );
    -webkit-filter: drop-shadow(0px 0px 1px #FFEA52);
    transition: fill 0.3s;
}
.iconActive {
    fill: #FFEA52 !important;
    filter: drop-shadow(0px 0px 1px #FFEA52 ) !important;
    -webkit-filter: drop-shadow(0px 0px 1px #FFEA52) !important;
}
.iconDisabled {
    cursor: default !important;
    fill: #444444 !important;
    filter: drop-shadow(0px 0px 1px #444444 ) !important;
    -webkit-filter: drop-shadow(0px 0px 1px #444444) !important;
}
.iconError {
    fill: #FF4A26 !important;
    filter: drop-shadow(0px 0px 1px #FF4A26 ) !important;
    -webkit-filter: drop-shadow(0px 0px 1px #FF4A26) !important;
}
.iconLarge {
	height: 40px;
	fill: white;
	filter: drop-shadow(0px 0px 1px #FFEA52 );
    -webkit-filter: drop-shadow(0px 0px 1px #FFEA52 );
}
.iconMedium {
    height: 35px;
    fill: white;
    filter: drop-shadow(0px 0px 1px #FFEA52 );
    -webkit-filter: drop-shadow(0px 0px 1px #FFEA52 );
}
.iconSmall {
    height: 30px;
    fill: white;
    filter: drop-shadow(0px 0px 1px #FFEA52 );
    -webkit-filter: drop-shadow(0px 0px 1px #FFEA52 );
}
.iconXSmall {
    height: 25px;
    fill: white;
    filter: drop-shadow(0px 0px 1px white );
    -webkit-filter: drop-shadow(0px 0px 1px white );
    transition: fill 0.3s;
}
.iconXXSmall {
    height: 20px;
    fill: white;
    filter: drop-shadow(0px 0px 1px white );
    -webkit-filter: drop-shadow(0px 0px 1px white );
}

/* Mouse */
.pointer {
    cursor: pointer;
}

/* Layout */
.titleBar {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.titleGroupLeft {
    display: flex;
}
.titleGroupRight {
    display: flex;
    align-items: center;
}
#main {
    display: flex;
    
}
.subHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#devicesPanel {
    flex: 3;
    display: flex;
    flex-direction: column;
}
.devicesPanel {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.device {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    margin-top: 10px;
    width: 250px;
    border-left: #036A98 2px solid;
}
.deviceTitle {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #036A98, transparent);
}
.deviceStatuses {
    display: flex;
    align-items: center;
}
#eventsPanel {
    flex: 2;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
#eventsTable {
    margin-top: 10px;
}
#eventsControl {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#musicPlayer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#musicControl {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    background-color: #252525;
}
#musicTimeline {
    margin-top: 20px;
    height: 5px;
}
#playbackTimeline {
    position: relative;
    top: -3px;
    width: 0%;
    height: 1px;
    background-color: #FFEA52;
    transition: width 0.2s
}
#playbackControl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
#playbackControlLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #757575;
}
#playbackControlLeft > div {
    display: inherit;
}
.playbackControlIcon {
    padding: 4px 4px;
    padding-bottom: 0px;
    margin: 0px 5px;
    fill: #FFFFFF;
}

/* Forms */
.infoPanel {
    flex-grow: 2;
    display: flex;
}
.infoLabels {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.infoLabels * {
    padding-left: 10px;
    height: 20px;
    margin: 2px 0px;
}
.infoValues {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.infoValues * {
    height: 20px;
    margin: 2px 0px;
}
.infoValues span {
    padding-left: 7px;
}
.controlPanel {
    flex-grow: 1;
}

@media all and (max-width: 1000px) {
    #main {
        flex-direction: column;
    }
    #eventsPanel {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
    #devicesPanel {   
        display: flex;
        flex-direction: column;
    }
}

/* Stencil Table */
.tableHeader {
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.03em;
    padding: 5px 0px;
}
.st-tableHeaderColumns:first-of-type {
    border-left: 3px solid #036A98;
}
.st-tableRowSet:hover {
    border-bottom: lightgrey 1px solid;
}
.st-tableRowSet:hover .st-tableRowColumn:first-of-type {
    border-left: 3px solid #FFEA52;
}
.st-tableRowSetSelected .tableRowColumn:first-of-type {
    border-left: 3px solid #FFEA52;
}